
body {
    text-align: center;
    /*width: auto;*/
    background-color: rgba(0, 0, 0, 0.884);
    align-items: center;
}

/*Título do topo da página*/
h1 {
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*TABELA MAIOR*/

table {
    /*collapse é pra deixar os quadrados juntos*/
    border-collapse: collapse;
    /*margin: auto;*/
    margin-left: 2rem;
    margin-bottom: 2rem;

}


/*Linha*/
tr {
    /*width: 2rem;*/
    height: 1rem;

}

/*Dados de cada célula*/
td {
    border: 2px solid black;
    width: 3rem;
    /*border-radius: 15px;*/


}

td:hover {
    transform: scale(1.1);
    border: 2px solid black;
    border-radius: 15px;

    
}


/*Espaços vazios entre os quadrados*/
.vazio {
    border: none;
}

.vazio:hover {
    transform: none; /*tirar o transform scale dos vazios ao passar o mouse*/
    border: none; /*tirar a borda dos vazios ao passar o mouse*/

}

/*Cores dos metais*/
.laranja {
    background-color: hsl(39, 96%, 52%);
}

.rosa {
    background-color: rgb(240, 19, 192);
}

.red {
    background-color: red;
}

.creme {
    background-color: rgb(250, 195, 128);
}

.amarelo {
    background-color: yellow;
}

.verde_escuro {
    /*background-color: rgb(19, 133, 19);*/
    background-color: rgb(48, 139, 48);
}

.violet {
    background-color: rgb(180, 70, 180);
}

.verde_claro {
    /*background-color: chartreuse;*/
    background-color: rgb(66, 240, 66);
}

.azul_escuro {
    background-color: rgb(6, 6, 226);
}

.azul_claro {
    background-color: rgb(26, 147, 247);
}

.cinza {
    background-color: gray;
}

/*TABELA 2 COM AS LINHAS 8 E 9*/
.tabela_2 {
    margin-top: 2rem;
    margin: auto;
   
}


/*LEGENDA*/

h4 {
    color: white;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

/*Com todos os nomes dos metais*/
.div_legenda {
    /*background-color: aliceblue;*/
    display: flex;
    flex-direction: row;
    /*border: 1px solid white;*/

}

/*Nome de cada metal*/
p {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
}

/*Metais alcalinos*/
.legenda_red {
    color: red;
}

/*Metais alcalinoterrosos*/
.legenda_creme {
    color: rgb(250, 195, 128);
}

/*Metais de transição*/
.legenda_verde_claro {
    color: rgb(66, 240, 66);
}

/*Metais pós-transição*/
.legenda_violet {
    color: rgb(180, 70, 180);
}

/*Semimetais*/
.legenda_amarelo {
    color: yellow;
}

/*Não metais poliatômicos*/
.legenda_verde_escuro {
    color: rgb(48, 139, 48);
}

/*Não metais diatômicos*/
.legenda_laranja {
    color: hsl(39, 96%, 52%);
}

/*Gases nobres*/
.legenda_rosa {
    color: rgb(240, 19, 192);
}

/*Propriedades químicas desconhecidas*/
.legenda_cinza {
    color: gray;
}

/*Lantanídeos*/
.legenda_azul_escuro {
    color: rgb(6, 6, 226);
}

/*Actinídeos*/
.legenda_azul_claro {
    color: rgb(26, 147, 247);
}


/*FOOTER*/

.footer_p_copyright {
    margin-top: 5rem;
    text-align: center;
    font-size: 1rem;
    color: white;

}

.footer_p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;

}

.email {
    color: blue;
}


.fa-brands, .fa-github {
    color: blue;
    font-size: 1.5rem;

}











































/*Esse trabalho foi feito por Luciene Lima*/