
body {
    text-align: center;
    /*width: auto;*/
    background-color: rgba(0, 0, 0, 0.884);
}

/*Título topo*/
h1 {
    color: red;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


table {
    border-collapse: collapse;
    margin: auto;
    
}


/*Linha*/
tr {
    /*width: 2rem;*/
    height: 1rem;

}

/*Dados de cada célula*/
td {
    border: 2px solid black;
    width: 3rem;

}


/*Espaços vazios entre os quadrados*/
.vazio {
    border: none;
}

/*Cores*/
.laranja {
    background-color: hsl(39, 96%, 52%);
}

.rosa {
    background-color: rgb(240, 19, 192);
}

.red {
    background-color: red;
}

.creme {
    background-color: rgb(250, 195, 128);
}

.amarelo {
    background-color: yellow;
}

.verde_escuro {
    /*background-color: rgb(19, 133, 19);*/
    background-color: rgb(48, 139, 48);
}

.violet {
    background-color: rgb(180, 70, 180);
}

.verde_claro {
    /*background-color: chartreuse;*/
    background-color: rgb(66, 240, 66);
}

.azul_forte {
    background-color: rgb(6, 6, 226);
}

.azul_claro {
    background-color: rgb(26, 147, 247);
}

.cinza {
    background-color: gray;
}

/*Tabela de baixo - linha 8 e 9*/
.tabela_2 {
    margin-top: 2rem;
}

/*Legenda*/
h4 {
    color: white;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.3rem;
}

p {
    text-align: left;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.legenda_red {
    color: red;
}

.legenda_creme {
    color: rgb(250, 195, 128);

}




























/*Esse trabalho foi feito por Luciene Lima*/